<a href="https://colab.research.google.com/github/KittLao/sakila/blob/main/sakila.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 73.7 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 37.6 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-metadata 1.14.0 requires protobuf<4.21,>=3.20.3, but you have protobuf 4.21.12 which is incompatible.
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [3]:
import mysql.connector

In [13]:
# Database different from database identifier. Identifier contains multiple
# databases.
USER = "admin"
PASSWORD = "21223032315684kK"
HOST = "sakila-mysql.cdfvrj0gw8cb.us-east-1.rds.amazonaws.com"
DATABASE = "sakila"

cnx = mysql.connector.connect(user=USER, password=PASSWORD,
                              host=HOST,
                              database=DATABASE)

In [16]:
# Need to use buffered cursor so we can execute initialize cursor again if needed.
cursor = cnx.cursor(buffered=True)

# Tables

In [33]:
show_table_query = ("show tables")
cursor.execute(show_table_query)
tables = cursor.fetchall()
print(tables)

[('actor',), ('actor_info',), ('address',), ('category',), ('city',), ('country',), ('customer',), ('customer_list',), ('film',), ('film_actor',), ('film_category',), ('film_list',), ('film_text',), ('inventory',), ('language',), ('nicer_but_slower_film_list',), ('payment',), ('rental',), ('sales_by_film_category',), ('sales_by_store',), ('staff',), ('staff_list',), ('store',)]

# How much data

In [50]:
# fetchall gets all records from previous executed query.
# Just use f strings.

def record_count_per_table(cursor, table):
  query = f"select count(*) from {table}"
  cursor.execute(query)
  result = cursor.fetchall()
  return result[0][0]

for table in tables:
  table = table[0]
  count = record_count_per_table(cursor, table)
  print(table, count)

actor 200
actor_info 200
address 603
category 16
city 600
country 109
customer 599
customer_list 599
film 1000
film_actor 5462
film_category 1000
film_list 1000
film_text 0
inventory 4581
language 6
nicer_but_slower_film_list 1000
payment 16044
rental 16044
sales_by_film_category 16
sales_by_store 2
staff 2
staff_list 2
store 2

# Columns for Table

In [52]:
def record_count_per_table(cursor, table):
  query = f"show columns from {table}"
  cursor.execute(query)
  result = cursor.fetchall()
  return result

for table in tables:
  table = table[0]
  columns = record_count_per_table(cursor, table)
  print(table, columns)

actor [('actor_id', b'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('first_name', b'varchar(45)', 'NO', '', None, ''), ('last_name', b'varchar(45)', 'NO', 'MUL', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
actor_info [('actor_id', b'smallint unsigned', 'NO', '', b'0', ''), ('first_name', b'varchar(45)', 'NO', '', None, ''), ('last_name', b'varchar(45)', 'NO', '', None, ''), ('film_info', b'text', 'YES', '', None, '')]
address [('address_id', b'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('address', b'varchar(50)', 'NO', '', None, ''), ('address2', b'varchar(50)', 'YES', '', None, ''), ('district', b'varchar(20)', 'NO', '', None, ''), ('city_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('postal_code', b'varchar(10)', 'YES', '', None, ''), ('phone', b'varchar(20)', 'NO', '', None, ''), ('location', b'geometry', 'NO', 'MUL', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
category [('category_id', b'tinyint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('name', b'varchar(25)', 'NO', '', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
city [('city_id', b'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('city', b'varchar(50)', 'NO', '', None, ''), ('country_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
country [('country_id', b'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('country', b'varchar(50)', 'NO', '', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
customer [('customer_id', b'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('store_id', b'tinyint unsigned', 'NO', 'MUL', None, ''), ('first_name', b'varchar(45)', 'NO', '', None, ''), ('last_name', b'varchar(45)', 'NO', 'MUL', None, ''), ('email', b'varchar(50)', 'YES', '', None, ''), ('address_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('active', b'tinyint(1)', 'NO', '', b'1', ''), ('create_date', b'datetime', 'NO', '', None, ''), ('last_update', b'timestamp', 'YES', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
customer_list [('ID', b'smallint unsigned', 'NO', '', b'0', ''), ('name', b'varchar(91)', 'YES', '', None, ''), ('address', b'varchar(50)', 'NO', '', None, ''), ('zip code', b'varchar(10)', 'YES', '', None, ''), ('phone', b'varchar(20)', 'NO', '', None, ''), ('city', b'varchar(50)', 'NO', '', None, ''), ('country', b'varchar(50)', 'NO', '', None, ''), ('notes', b'varchar(6)', 'NO', '', b'', ''), ('SID', b'tinyint unsigned', 'NO', '', None, '')]
film [('film_id', b'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('title', b'varchar(128)', 'NO', 'MUL', None, ''), ('description', b'text', 'YES', '', None, ''), ('release_year', b'year', 'YES', '', None, ''), ('language_id', b'tinyint unsigned', 'NO', 'MUL', None, ''), ('original_language_id', b'tinyint unsigned', 'YES', 'MUL', None, ''), ('rental_duration', b'tinyint unsigned', 'NO', '', b'3', ''), ('rental_rate', b'decimal(4,2)', 'NO', '', b'4.99', ''), ('length', b'smallint unsigned', 'YES', '', None, ''), ('replacement_cost', b'decimal(5,2)', 'NO', '', b'19.99', ''), ('rating', b"enum('G','PG','PG-13','R','NC-17')", 'YES', '', b'G', ''), ('special_features', b"set('Trailers','Commentaries','Deleted Scenes','Behind the Scenes')", 'YES', '', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
film_actor [('actor_id', b'smallint unsigned', 'NO', 'PRI', None, ''), ('film_id', b'smallint unsigned', 'NO', 'PRI', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
film_category [('film_id', b'smallint unsigned', 'NO', 'PRI', None, ''), ('category_id', b'tinyint unsigned', 'NO', 'PRI', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
film_list [('FID', b'smallint unsigned', 'NO', '', b'0', ''), ('title', b'varchar(128)', 'NO', '', None, ''), ('description', b'text', 'YES', '', None, ''), ('category', b'varchar(25)', 'YES', '', None, ''), ('price', b'decimal(4,2)', 'NO', '', b'4.99', ''), ('length', b'smallint unsigned', 'YES', '', None, ''), ('rating', b"enum('G','PG','PG-13','R','NC-17')", 'YES', '', b'G', ''), ('actors', b'text', 'YES', '', None, '')]
film_text [('film_id', b'smallint unsigned', 'NO', 'PRI', None, ''), ('title', b'varchar(255)', 'NO', 'MUL', None, ''), ('description', b'text', 'YES', '', None, '')]
inventory [('inventory_id', b'mediumint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('film_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('store_id', b'tinyint unsigned', 'NO', 'MUL', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
language [('language_id', b'tinyint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('name', b'char(20)', 'NO', '', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
nicer_but_slower_film_list [('FID', b'smallint unsigned', 'NO', '', b'0', ''), ('title', b'varchar(128)', 'NO', '', None, ''), ('description', b'text', 'YES', '', None, ''), ('category', b'varchar(25)', 'YES', '', None, ''), ('price', b'decimal(4,2)', 'NO', '', b'4.99', ''), ('length', b'smallint unsigned', 'YES', '', None, ''), ('rating', b"enum('G','PG','PG-13','R','NC-17')", 'YES', '', b'G', ''), ('actors', b'text', 'YES', '', None, '')]
payment [('payment_id', b'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('customer_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('staff_id', b'tinyint unsigned', 'NO', 'MUL', None, ''), ('rental_id', b'int', 'YES', 'MUL', None, ''), ('amount', b'decimal(5,2)', 'NO', '', None, ''), ('payment_date', b'datetime', 'NO', '', None, ''), ('last_update', b'timestamp', 'YES', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
rental [('rental_id', b'int', 'NO', 'PRI', None, 'auto_increment'), ('rental_date', b'datetime', 'NO', 'MUL', None, ''), ('inventory_id', b'mediumint unsigned', 'NO', 'MUL', None, ''), ('customer_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('return_date', b'datetime', 'YES', '', None, ''), ('staff_id', b'tinyint unsigned', 'NO', 'MUL', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
sales_by_film_category [('category', b'varchar(25)', 'NO', '', None, ''), ('total_sales', b'decimal(27,2)', 'YES', '', None, '')]
sales_by_store [('store', b'varchar(101)', 'YES', '', None, ''), ('manager', b'varchar(91)', 'YES', '', None, ''), ('total_sales', b'decimal(27,2)', 'YES', '', None, '')]
staff [('staff_id', b'tinyint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('first_name', b'varchar(45)', 'NO', '', None, ''), ('last_name', b'varchar(45)', 'NO', '', None, ''), ('address_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('picture', b'blob', 'YES', '', None, ''), ('email', b'varchar(50)', 'YES', '', None, ''), ('store_id', b'tinyint unsigned', 'NO', 'MUL', None, ''), ('active', b'tinyint(1)', 'NO', '', b'1', ''), ('username', b'varchar(16)', 'NO', '', None, ''), ('password', b'varchar(40)', 'YES', '', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]
staff_list [('ID', b'tinyint unsigned', 'NO', '', b'0', ''), ('name', b'varchar(91)', 'YES', '', None, ''), ('address', b'varchar(50)', 'NO', '', None, ''), ('zip code', b'varchar(10)', 'YES', '', None, ''), ('phone', b'varchar(20)', 'NO', '', None, ''), ('city', b'varchar(50)', 'NO', '', None, ''), ('country', b'varchar(50)', 'NO', '', None, ''), ('SID', b'tinyint unsigned', 'NO', '', None, '')]
store [('store_id', b'tinyint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('manager_staff_id', b'tinyint unsigned', 'NO', 'UNI', None, ''), ('address_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]

# Time period for Payments

In [53]:
time_payment_query = ("select min(payment_date) as first, max(payment_date) as last from payment")
cursor.execute(time_payment_query)
result =  cursor.fetchall()
print(result)

[(datetime.datetime(2005, 5, 24, 22, 53, 30), datetime.datetime(2006, 2, 14, 15, 16, 3))]

# Where do events occer? How many are from these locations?


*   District
*   Address
*   City
*   Postal
*   Country

In [60]:
location_query = """
select
  a.address as address,
  a.district as district,
  a.postal_code as postal_code,
  ci.city as city,
  co.country as country
from address as a
inner join city as ci
on a.city_id = ci.city_id
inner join country as co
on ci.country_id = co.country_id
"""
cursor.execute(location_query)
result = cursor.fetchmany(5)
for record in result:
  print(record)

location_analysis_query = f"""
with locations as (
  {location_query}
)
select
	count(address) as address_count,
	count(district) as district_count,
	count(postal_code) as postal_code_count,
	count(city) as city_count,
	count(country) as country_count
from locations
group by address, district, postal_code, city, country
"""

cursor.execute(location_analysis_query)
result = cursor.fetchmany(5)
for record in result:
  print(record)

('1168 Najafabad Parkway', 'Kabol', '40301', 'Kabul', 'Afghanistan')
('1924 Shimonoseki Drive', 'Batna', '52625', 'Batna', 'Algeria')
('1031 Daugavpils Parkway', 'Béchar', '59025', 'Béchar', 'Algeria')
('757 Rustenburg Avenue', 'Skikda', '89668', 'Skikda', 'Algeria')
('1892 Nabereznyje Telny Lane', 'Tutuila', '28396', 'Tafuna', 'American Samoa')
(1, 1, 1, 1, 1)
(1, 1, 1, 1, 1)
(1, 1, 1, 1, 1)
(1, 1, 1, 1, 1)
(1, 1, 1, 1, 1)

# Movie for every Payment

In [61]:
movie_per_payment_query = """
select
	p.payment_id as payment,
	f.title as movie
from payment as p
inner join rental as r on p.rental_id = r.rental_id
inner join inventory as i on r.inventory_id = i.inventory_id
inner join film as f on i.film_id = f.film_id
"""

cursor.execute(movie_per_payment_query)
for record in cursor.fetchmany(5):
  print(record)

(11630, 'ACADEMY DINOSAUR')
(13956, 'ACADEMY DINOSAUR')
(7578, 'ACADEMY DINOSAUR')
(11124, 'ACADEMY DINOSAUR')
(4607, 'ACADEMY DINOSAUR')

# Sum movie revenue

In [62]:
revenue_per_movie_query = """
select
	f.title as movie,
	sum(p.amount) as total_revenue
from payment as p
inner join rental as r on p.rental_id = r.rental_id
inner join inventory as i on r.inventory_id = i.inventory_id
inner join film as f on i.film_id = f.film_id
group by movie
order by total_revenue desc
"""

cursor.execute(revenue_per_movie_query)
for record in cursor.fetchmany(5):
  print(record)

('TELEGRAPH VOYAGE', Decimal('231.73'))
('WIFE TURN', Decimal('223.69'))
('ZORRO ARK', Decimal('214.69'))
('GOODFELLAS SALUTE', Decimal('209.69'))
('SATURDAY LAMBS', Decimal('204.72'))

# Top grossing cities

In [65]:
revenue_per_city_query = """
select ci.city as city, sum(p.amount) as revenue
from payment as p
inner join customer as cu on p.customer_id = cu.customer_id
inner join address as a on a.address_id = cu.address_id
inner join city as ci on a.city_id = ci.city_id
group by  ci.city_id
order by revenue desc
"""

cursor.execute(revenue_per_city_query)
for record in cursor.fetchmany(5):
  print(record)

('Cape Coral', Decimal('221.55'))
('Saint-Denis', Decimal('216.54'))
('Aurora', Decimal('198.50'))
('Molodetšno', Decimal('195.58'))
('Apeldoorn', Decimal('194.61'))

# Revenue of movie per city, customer and month

In [66]:
movie_revenue_per_city_customer_month_query = """
select
	f.title as title,
	ci.city as city_name,
	CONCAT_WS(' ', cu.first_name, cu.last_name) as customer_name,
	DATE_FORMAT(p.payment_date, "%Y-%M") as month_,
	sum(p.amount) as revenue
from payment as p
inner join rental as r on p.rental_id = r.rental_id
inner join inventory as i on r.rental_id = i.inventory_id
inner join film as f on i.film_id = f.film_id
inner join customer as cu on p.customer_id = cu.customer_id
inner join address as a on a.address_id = cu.address_id
inner join city as ci on a.city_id = ci.city_id
group by title, city_name, customer_name, month_
order by month_ asc, revenue desc
"""

cursor.execute(movie_revenue_per_city_customer_month_query)
for record in cursor.fetchmany(5):
  print(record)

('SMOKING BARBARELLA', 'Joliet', 'NATHANIEL ADAM', '2005-July', Decimal('16.98'))
('SMOKING BARBARELLA', 'Phnom Penh', 'ALLISON STANLEY', '2005-July', Decimal('15.98'))
('WEDDING APOLLO', 'al-Qatif', 'TRAVIS ESTEP', '2005-July', Decimal('12.98'))
('WAR NOTTING', 'Juiz de Fora', 'KENT ARSENAULT', '2005-July', Decimal('11.99'))
('SUNRISE LEAGUE', 'Székesfehérvár', 'TERRANCE ROUSH', '2005-July', Decimal('11.99'))